body {
    background-image: url(../img/background.jpg);
    /*background-color: black;*/
    margin: 0;
}
.polopolka {
    margin: auto;
    background-color: white;
    width: 700px;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}

.polopolka img {
    width: 100%;
}
.down{
    background-color: #191919;
    /*padding: 50px;*/
    width: 100%;
    /*height: 100px;*/
    overflow: hidden;
}

.down a {
    font-size: 24pt;
    color: whitesmoke;
    text-decoration: none;
}

.top
{
    border-radius: 0;
    width: 100%;
    background-color: #191919;
}

.outer
{
    padding: 10px;
}

a:active
{
    color: whitesmoke;
}

.inner {
    padding: 50px;
}

.button {
    top: 5px;

    float: left;
    padding: 10px;
    background-color: white;
    margin-left: 10px;
    border-radius: 5px;
}

.button:hover
{
    cursor: pointer;
    background-color: whitesmoke;
}
